sudo: false
language: java

services:
  - mysql

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - mysql -e "create database IF NOT EXISTS bubbles;" -uroot
  - export TZ=Asia/Shanghai

jdk:
  - oraclejdk8


after_success:
  - bash <(curl -s https://codecov.io/bash)
